<h3>Scoreboard</h3>
<table id="scoreboard">
  <tr>
    <th>Rank</th>
    <th>Player</th>
    <th>Score</th>
    <th>Fastest Time (s)</th>
  </tr>
    <% @games_all.each.with_index do |game, index| %>
      <tr>
        <td><%= index + 1 %>. </td>
        <td>
          <%= game.user.name %>    
        </td>
        <td>
          <%= game.total_time_points %>
        </td>
        <td>
          <%= game.questions.average("duration").round(2) %>
          </td>
      </tr>
    <% end %>
</table>