<h1>COMING SOON!</h1>

<h1>Select Genre</h1>

<%= form_tag games_path, :method => 'post' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= hidden_field_tag(:type, 'artist') %>
  </p>
<% end %> 