<% if flash[:notice].present? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>
  <div>
    <p> Have you logged into your <a href="https://www.spotify.com/us/login/" class="spotify" target="_blank">Spotify</a> account?</p>
    <p> Please do so before starting a game.</p>
    <%= link_to(content_tag(:div, 'New Game', class:"button"), new_game_path) %> 
  </div>
  <div class="horizontal-force-wrapper">
    <div>
      <%= link_to(content_tag(:div, 'User Statistics', class:"button"), users_path) %>
    </div>

    <div>
      <%= render partial: "scoreboard" %>
    </div>
  </div>