body {
  background-color: black;
  font-family: 'Source Sans Pro', sans-serif, arial;
  color: white;
  text-align: center;
  font-size: 16px;
}

.button, .button-form, .button_input {
  font-size: 16px;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
}

.button, .button-form {
  background-color: #76aa27;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  margin: 5px auto;
  padding-top: 5px;
}

input[type="submit"] {
  background-color: #76aa27;
  width: 200px;
  height: 50px;
  border-radius: 3px;
  margin-top: 5px;
  color: white;
  border: 3px;
}

.button:hover {
  background-color: #499000;
}

.button-form {
  background-color: black;
}

.signup_form {
  width: 400px;
  margin: 0 auto;
  background-color: #499000;
  border-radius: 5px;
}

.form_submit {
  margin: 4px;
  background-color: #76aa27;
  color: white;
  border-radius: 3px;
}

#user-stats {
  background-color: white;
  border-radius: 3px;
  padding: 10px;
  text-align: left;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

.nav-li a {
  color: #a1a2a6;
}


a {
  color: white;
  text-decoration: none;
}

.stats-wrapper {
  margin: 0 auto;
}
.stats-display {
  display: block;
  background-color: blue;
  border-radius: 5px;
  margin: 5px auto;
  padding: 5px;
  width: 300px;
  height: auto;
}

.correct-circle {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 100%;
}
.hack {
  color: #2a2b29;
  position: fixed;
  bottom: 0;
  right: 0;
}
/*Game-type-specific formatting*/

.genre {background-color: #006dcc;}
.genre:hover {background-color: #0287fb;}

.playlist {background-color: #ea5c79;}
.playlist:hover {background-color: #ea2f55;}

.artist {background-color: #76aa27;}
.artist:hover {background-color: #499000;}
