/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*=================================================*/
/*================ GENERAL STYLING ================*/
/*=================================================*/

body {
  background-color: black;
  font-family: 'Source Sans Pro', sans-serif, arial;
  color: white;
  font-size: 16px;
  text-align: center;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.caption, .cap-sm, nav a {
  color: #a1a2a6;
}

.caption, .cap-sm { font-size: 10px;}
nav a { font-size: 14px;}

nav {
  display: block;
  text-align: right;
}

nav ul {
  display: inline-block;
  position: relative;
  height: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav ul li {
  display: inline;
  position: relative;
  margin: 2px;
  text-decoration: none;
}

a, nav a {
  text-decoration: none;
}

.caption {
  line-height: 0em;
  margin: 0;
  padding: 0;
  padding-top: 5px;
}

a {color: #FFFFFF;}

nav a:hover {
  color: #FFFFFF;
  font-weight: 200;
}

.spotify {
  color: #499000;}

strong {
  font-weight: bold;
  color: #9027AA;
  text-transform: uppercase;
}

/*=================================================*/
/*=========== DIVS: DISPLAYS & IMAGES =============*/
/*=================================================*/

/* Error messages and warnings                     */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.error-message {
  background-color: white;
  border: 2px dotted red;
  width: 300px;
  margin: 10px auto;
  color: black;
  font-size: 14px;
  text-align: left;
}

.warning {
  color: red;
}

/* Images and icons                                */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.icon {
  height: 75px;
  width: 75px;
  border-radius: 100%;
}

.med-img-by-width {
  width: 100px;
}

.med-img-by-height {
  width: 200px;
}

/* Div management                                  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.horizontal-force-wrapper {
}

/*=================================================*/
/*========== FORMS: BUTTONS AND INPUTS ============*/
/*=================================================*/

/* Signup and Signin                               */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.signup_form, .signin_form {
  width: 400px;
  margin: 0 auto;
  border-radius: 5px;
}

.signup_field, .signin_field {
  display: block;
  margin: 10px;
  padding-right: 25px;
  text-align:right;
}

.signin_field {padding-right: 88px;}

.caption {
  line-height: 0em;
  margin: 0;
  padding: 0;
  padding-top: 5px;
}

/* Buttons and Input Links                         */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.button, .button-form, .form_submit {
  background-color: #76aa27;
  width: 150px;
}

.button_input {
  background-color: #76aa27;
  width: auto;

}

.button, .button-form, .button_input, .form_submit {
  height: 30px;
  margin: 5px auto;
  padding-top: 5px;
  border-radius: 3px;
  font-size: 16px;
  color: white;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
  border: 3px;
}

.button_input {
  height: auto;
  width: 225px;
  border: 3px;
  padding: 10px;
}

.form_submit {
  padding-bottom: 7px;
  height: 35px;
  font-size: 14px;
}
.song-choice input[type="submit"] {

}

.button:hover, .form_submit:hover, input[type="submit"]:hover {
  background-color: #499000;
}

/* Type-specific button formattting                
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.genre {background-color: #006dcc;}
.genre:hover {background-color: #0287fb;}

.playlist {background-color: #ea5c79;}
.playlist:hover {background-color: #ea2f55;}

.artist {background-color: #76aa27;}
.artist:hover {background-color: #499000;}

/*=================================================*/
/*=========== PAGE-SPECIFIC FORMATTING ============*/
/*=================================================*/

/* User Stats page & Scoreboard                    */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#user-stats, #scoreboard, #user-display, .stats-display {
  margin: 0 auto;
  color: white;
  border-radius: 3px;
}

#scoreboard, #user-display { 
  width: 600px;
  padding: 15px;
}

#user-stats {
  margin: 0 auto;
  padding: 5px;
}

.left-stats-display {
  text-align: left;
  padding-right: 10px;
}

.td-label {
  text-align: left;
  padding-right: 20px;
}

.td-top {
  text-align: center;
}

/* Game summary page                               */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.stats-wrapper { margin: 0 auto;}

.stats-display {
  display: block;
  width: 400px;
  height: auto;
  margin: 5px auto;
  padding: 5px;
  border-radius: 5px;
}

/* New Question page                               */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.song-play {
  overflow: hidden;
  height: 79px;
  width: 79px;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}

/*=================================================*/
/*========= SECTION-SPECIFIC FORMATTING ===========*/
/*=================================================*/

/* Shuffla Instructions Selection                  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#instructions {
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  height: auto;
  position: relative;
}

#play_inst {
  display: inline-block;
  width: 49%;
  height: auto;
  margin: none;
}

#scoring_inst {
  display: inline-block;
  width: 49%;
  height: auto;
  margin: none;
  vertical-align: top;
}

/* Question Selection                              */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#SecondsCountUp {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.song-choices-box {
  position: relative;
  width: 450px;
  margin: 0 auto;
}

.song-choice {
  width: 200px;
  height: 75px;
  display: inline;
}

/* Places Game ID at the bottom of the screen for reference*/
.hack {
  color: #2a2b29;
  position: fixed;
  bottom: 0;
  right: 0;
}

.copyright {
  color: #2a2b29;
  position: fixed;
  margin: 10px;
  bottom: 0;
  left: 0;
}
